* {
    margin: 0;
    padding: 0;
}


/* top division */ 

.w {
    width: 1200px;
    margin: auto;
}

li {
    float: left;
    list-style: none;
}

.header {
    height: 42px;
    margin: 30px auto;
    background-color: pink;
}


/* logo module */

.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: gray;
    line-height: 42px;
    text-align: center;
    font-size: 28px;
}


/* navigation module */

.nav {
    float: left;
    margin-left: 50px;
}

.nav ul li {
    float: left;
    margin-left: 20px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 20px;
    line-height: 42px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
    font-size: 20px;
    font-style: italic;
}


/* hint module */

body div .hint-routes-flash {
    float: right;
    font-size: 15px;
    font-style: italic;
    color: red;
    margin: 10px
}


/* banner part */

.banner {
    height: 300px;
    background-color: pink;
}

.banner .w {
    height: 300px;
    background-image: url(img/large.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.sentence1 {
    color: rgb(202, 211, 77);
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    text-indent: 2em;
}

.sentence2 {
    color: rgb(202, 211, 77);
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
}

.box {
    height: 850px;
    background-color: pink;
}


/* post.html */

.box-post-image {
     margin: 10px 15px 15px 20px;
     background: center;
     width: 200px;
     height: 150px;
}

.box-post-font {
     font-size: 20px;
     font-family: 'Microsoft-Yahei'
}

.box-post-submit {
    padding-left: 40px;
}


/* home.html */

.box-home-font {
    margin: 0px 15px 15px 20px;
    font-weight: border;
    font-family: 'Microsoft Yahei'
}

.box-home-font a {
    text-decoration: none;
    color: black;

}

.box-home-font a:hover {
    color: #00a4ff;
    font-style: italic;

}


/* thank.html */

.box-thank-font {
    text-align: center;
    font-style: italic;
    font-weight: border;
    font-size: 30px;
    font-family: 'Microsoft Yahei';
    color: blue;
}


/* success.html */

.box-success-font {
    text-align: center;
    font-style: italic;
    font-weight: border;
    font-size: 30px;
    font-family: 'Microsoft Yahei';
    color: blue;
}


/* footer part */

.footer {
    height: 100px;
    background-color: gray;
}

.footer .w {
    padding-top: 10px;
}

.copyright {
    float: left;
}

.copyright p {
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    color: black;
}

.links {
    float: right;
}

.links dl dt {
    font-size: 20px;
}

.links dl dd a {
    text-decoration: none;
    color: black;
}

.links dl dd a:hover {
    color: #00a4ff;
    font-style: italic;
}


/* register.html */

.color1 {
    height: 421px;
}

.style1 {
    margin: 30px;
    font-size: 20px;
    font-family: 'Microsoft Yahei'
}

.style1 .sub1 {
    width: 200px;
    height: 25;
}

.remind1 {
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
}


/* login.html */

.color2 {
    height: 421px;
}

.style2 {
    margin: 30px 30px 0px 30px;
    font-size: 20px;
    font-family: 'Microsoft Yahei'
}

.style2 .sub2 {
    width: 200px;
    height: 25;
}

.remind2 {
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
}