{% extends "layout.html" %}
{% block title %}About Us{% endblock title %}
{% block content %}
<table>
    <h2 style="padding-left:520px; font-family:'Microsoft Yahei';">About me</h2><br>
    <table bgcolor="pink" align="center" border="1" cellspacing="0" style="margin:0 0 0 300px">
        <tr>
            <td>Name:</td><td>Yi Zheng</td>
        </tr>
        <tr>
            <td>Hometown:</td><td><a href="https://en.wikipedia.org/wiki/Tangshan" style="text-decoration:none">Tangshan city of Hebei province, China</a></td>
        </tr>
        <tr>
            <td>Hobby:</td><td>Saxophone, Swimming, Traveling, Photography, Calligraphy</td>
        </tr>
        <tr>
            <td>Education Background:</td><td><a href="http://www.dongguk.edu/mbs/en/index.jsp" style="text-decoration:none;">Bachelor of Computer Science and Engineering</a></td>
        </tr>
        <tr>
            <td>Bachelor's Graduation Dissertation:</td><td><a href="../static/img/essay.jpg" style="text-decoration:none;">Physical Fatigue Analysis Algorithm Using HRV Big Data</a></td>
        </tr>
    </table><br>
    <h2 style="padding-left:500px; font-family:'Microsoft Yahei';">About this blog</h2>
    <br>
    <h3>As a student of school of computer science, Python is not my first programming language I studied,
            but once I started working with Python, I began to understand that words 'Life is short, you need Python'.</h3>
    <br>
    <h3>This blog website is based on flask frame, and some of features are referenced to three flask-lab exercises of CMT120 course of School of Computer Science of Cardiff University.</h3>
    <br>
    <img src="/static/img/facebook.png" alt="my QR code" style="weight:400px; height:200px; padding-left:400px;">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/static/img/wechat.jpg" alt="my QR code" style="weight:400px; height:200px; padding-right:100px;">
    <p style="padding-left:300px; color: grey;">(If you want to contact me, you can also scan front QR code for Facebook and rear QR code for Wechat.)</p>
</table>
{% endblock content %}